{% extends "StudentCrud/base.html" %} {% block content %}
<div class="row">
  <div class="col-sm-5">
    <h4 class="text-center alert alert-dark bg-dark text-light  fw-bold">
      Add New Students
    </h4>
    <form action="" method="POST">
      {% csrf_token %} {{form.as_p}}
      <input type="submit" class="btn btn-secondary" value="ADD" />
    </form>
  </div>

  <div class="col-sm-7">
    <h4 class="text-center alert alert-dark text-primary fw-bold">
        Show Added Students Details
      </h4>
  </div>
</div>
{% endblock content %}
